.header{
    position: relative;
}

.header button{
    position: absolute;
    z-index: 999;
    background-color: red;
    border: none;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
}

button i{
    color: black;
}

.header button i{
    color: black;
}