<div class="note-dialog">
    <h1 mat-dialog-title>Create note</h1>
    <div mat-dialog-content>
        <form class="custom-form" [formGroup]="noteForm" (ngSubmit)="addNote()">
            <div class="note-form">
                <input type="text" name="title" formControlName="title" placeholder="Title">
                <div class="error" *ngIf="this.noteForm.get('title').touched && this.noteForm.get('title').invalid">
                    <p *ngIf="this.noteForm.get('title')?.errors?.['required']">* Title is required</p>
                </div>
            </div>
            <div class="note-form">
                <textarea name="content" formControlName="content" placeholder="Note content"></textarea>
                <div class="error" *ngIf="this.noteForm.get('content').touched && this.noteForm.get('content').invalid">
                    <p *ngIf="this.noteForm.get('content')?.errors?.['required']">* Content is required</p>
                </div>
            </div>
            <div class="note-form">
                <select name="category" formControlName="category">
                    <option value="{{null}}">No category</option>
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
            <div class="button-wrapper">
                <button type="submit">Register</button>
            </div>

        </form>
        <div mat-dialog-actions class="dialog-actions">
            <button mat-button (click)="close(false)">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
</div>